go 1.22.6

use (
	./src/darvaza.org/acmefy
	./src/darvaza.org/acmefy/pkg/ca
	./src/darvaza.org/acmefy/pkg/respond
	./src/darvaza.org/cache
	./src/darvaza.org/cache/x/groupcache
	./src/darvaza.org/cache/x/memcache
	./src/darvaza.org/cache/x/protosink
	./src/darvaza.org/cache/x/simplelru
	./src/darvaza.org/core
	./src/darvaza.org/darvaza
	./src/darvaza.org/darvaza/acme
	./src/darvaza.org/darvaza/agent
	./src/darvaza.org/darvaza/server
	./src/darvaza.org/darvaza/shared
	./src/darvaza.org/darvaza/shared/config
	./src/darvaza.org/darvaza/shared/web
	./src/darvaza.org/middleware
	./src/darvaza.org/penne
	./src/darvaza.org/resolver
	./src/darvaza.org/sidecar
	./src/darvaza.org/sidecar/pkg/service
	./src/darvaza.org/slog
	./src/darvaza.org/slog/handlers/cblog
	./src/darvaza.org/slog/handlers/discard
	./src/darvaza.org/slog/handlers/filter
	./src/darvaza.org/slog/handlers/logrus
	./src/darvaza.org/slog/handlers/zap
	./src/darvaza.org/slog/handlers/zerolog
	./src/darvaza.org/wilee
	./src/darvaza.org/wilee/cmd/wilee
	./src/darvaza.org/x
	./src/darvaza.org/x/config
	./src/darvaza.org/x/fs
	./src/darvaza.org/x/net
	./src/darvaza.org/x/tls
	./src/darvaza.org/x/web
)
